.navbar-brand {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  transition: transform 0.3s ease;
  color: #A87676;

}
.navbar-brand:hover {
  transform: scale(1.1);
}
.nav-link {
  color: #E6A4B4;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s ease;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-link:hover {
  border-left: 1px solid #e7a44b;
  color: #8d5f6a;
}
.btn-light {
  background-color: #f8f9fa;
  color: #8d5f6a;
  border: none;
  transition: all 0.3s ease;
}
.btn-light:hover {
  background-color: #A888B5;
  color: #fff;
}
.header{
  background-color: #f8f8f800;
  padding: 20px;
  text-align: center;
}