.product :hover{
    box-shadow: navajowhite ;

}
.title{
    color: #AD88C6;

}
.btn-detaille{
    background-color: #fad9d9;
}
.btn-detaille:hover{
    background-color: #FFE6E6;
}
.btn-ajouter{
    background-color: #E1AFD1;
}
.btn-ajouter:hover{
    background-color: #c08db0;
}
#cardproduct{
background-color: #f3c6e62f;

}
.bg-search{
  height: 40px;  
  border-radius: 30px;
  border: #AD88C6 solid 1px;
}
.message-error{
    color: rgb(248, 92, 92);
    font-size: 21px;
    
}
